<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Biblioteca</title>
{% load static %}
{% include ".././menu.html" %}

</head>
<body>

	<div class="container">

		<div class="form-group" style="color: blue">{{ resultado }}</div>

		<fieldset>

			<legend>Listado de Libros</legend>

			<form class="form-horizontal" action="" enctype="multipart/form-data"
				method="POST">

				{% csrf_token %}
				
				<div class="form-group">
				  {% for field in form %}
				  	<label class="col-sm-2 control-label">{{ field.label_tag }}</label>
				    <div class="col-sm-2">
				      {{ field }}
				    </div>
				  {% endfor %}
				</div>

				<div class="form-group">
				  <br />
				  <div class="col-md-12 col-md-offset-5">
					<button type="submit" class="btn btn-default">Buscar</button>
				  </div>
				</div>
			</form>

		</fieldset>

		<br />

		<table class="table table-bordered">
			<tr>
				<td><b>#</b></td>
				<td><b>T&iacute;tulo</b></td>
				<td><b>Autor</b></td>
				<td><b>Editorial</b></td>
				<td><b>A&ntilde;o de Publicai&oacute;n</b></td>
				<td><b>Edici&oacute;n</b></td>
				<td><b>Cantidad de Ejemplares</b></td>
				<td colspan="2"></td>
			</tr>
			{% for libro in libros %}
			<tr>
				<td><b> {{ forloop.counter0|add:libros.start_index }} </b></td>
				<td>{{ libro.titulo }}</td>
				<td>{{ libro.autor.nombre }}</td>
				<td>{{ libro.editorial.editorial }}</td>
				<td>{{ libro.anhopublicacion }}</td>
				<td>{{ libro.edicion }}</td>
				<td>{{ libro.cantidadejemplares }}</td>
				<td><a href="/biblioteca/libro/update/{{ libro.id }}" title='Actualizar'>
						<i class="glyphicon glyphicon-pencil"></i>
				</a></td>
				<td><a class="confirm" href="/biblioteca/libro/delete/{{ libro.id }}"
					title='Eliminar'> <i class="glyphicon glyphicon-remove"></i>
				</a></td>
			</tr>
			{% endfor %}

		</table>

		<div align="center">
			{% if libros.has_other_pages %}
		    <ul class="pagination">
		    {% if libros.has_previous %}
		      <li><a href="?page={{ libros.previous_page_number }}">&laquo;</a></li>
		    {% else %}
		      <li class="disabled"><span>&laquo;</span></li>
		    {% endif %}
		    {% for i in libros.paginator.page_range %}
		      {% if libros.number == i %}
		        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
		      {% else %}
		        <li><a href="?page={{ i }}">{{ i }}</a></li>
		      {% endif %}
		    {% endfor %}
		    {% if libros.has_next %}
		      <li><a href="?page={{ libros.next_page_number }}">&raquo;</a></li>
		    {% else %}
		      <li class="disabled"><span>&raquo;</span></li>
		    {% endif %}
		    </ul>
		  {% endif %}
		</div>

	</div>

	<br />
	<br />

</body>
</html>